
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Your message was pre-sorted into the spam folder, it will never see the light of day.</p>
    </div>
  </div>
  <%= link_to 'Home', root_path, :class => "btn btn-default" %>
