<div class="container trip-box">
<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<p>
  <%= image_tag(@trip.image_url, :class => "img img-rounded") %>
</p>

<p>
  <strong>Price:</strong>
  <%= @trip.price %>
</p>