<p id="notice"><%= notice %></p>
<div class="container page-container">
  <h1>Listing Trips</h1>
  <div class="trip-box">
    <% if user_signed_in? && current_user.admin? %>
      <%= render :partial => "admintrips", :collection => @trips %>
    <% else %>
      <%= render @trips %>
    <% end %>
  </div>
  <br>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'New Trip', new_trip_path, :class => "btn btn-default", :type => "button" %>
    
  <% end %>
</div>
