<table>
  <tbody>
    <tr>
      <td><strong><p>Login Credentials Created Successfully</p></strong></td>
    </tr>
    <tr>
      <td><p>You have successfully registered as a user on Organon Travel.  Welcome!</p></td>
    </tr>
    <tr>
      <td><p>Name: <%= @user.first_name %> <%= @user.last_name %></p></td>
    </tr>
    <tr>
      <td><p>Email: <%= @user.email %></p></td>
    </tr>
  </tbody>
</table>