// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$darkblue: #3F7CAC;
$lightblue: #95AFBA;
$beige: #BDC4A7;
$lightgreen: #D5E1A3;
$brightgreen: #E2F89C;

body { 
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-size: cover;
}


